@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #fff;
    --second-bg-color:#F1F0E8;
    --text-color: #000;
    --main-color: #ADC4CE;
    --scnd-main-color: #EEE0C9;
  

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

/* HOME */

section {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--scnd-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 4rem;
    z-index: 100;
    
}

.navbar a:hover {
    color: var(--main-color)
}

span {
    color: var(--main-color)
}

/* ini css buat home section yeah */

.home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem; 
    font-weight: 700;
}

.home-content h1 {
    color: var(--text-color);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}

.home-content h2 {
    color: var(--text-color);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.home-img{
    margin-left: 5rem;
}
.btn {
    margin-right: 30px;
}

.btn1:hover {
    box-shadow: none;
    transition: .5s ease;
}

.btn2:hover {
    box-shadow: none;
    transition: .5s ease;
}

.btn1 {
    color: var(--text-color--);
    display: inline-block;
    padding: 9px 31px;
    background: var(--main-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 48px;   
}  

.btn2 {
    color: var(--text-color--);
    display: inline-block;
    padding: 9px 31px;
    background:var(--second-bg-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 24px;
}



/* klo ini css about section */

.home2 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
    background-color: var(--second-bg-color); 
}

.about-img img{
    width: 25vw;
    border: .5rem solid var(--main-color);
    border-radius: 50%;
    margin-left: 20px;
}

.about-content h1 {
    color: var(--text-color);
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-content p {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 85%;
}





 

 

