@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #F6FFDE;
    --second-bg-color:#E3F2C1;
    --text-color: #000;
    --main-color: #AAC8A7;
    --scnd-main-color: #C9DBB2;
  

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

/* HOME */

section {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--scnd-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 4rem;
    z-index: 100;
    
}

.navbar a:hover {
    color: var(--main-color)
}

span {
    color: var(--main-color)
}

/* ini css buat home section yeah */

.home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem; 
    font-weight: 700;
}



.home-content h1 {
    color: var(--text-color);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}

.home-content h2 {
    color: var(--text-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.btn {
    margin-right: 30px;
}

.btn1:hover {
    box-shadow: none;
    transition: .5s ease;
}

.btn2:hover {
    box-shadow: none;
    transition: .5s ease;
}

.btn1 {
    color: var(--text-color--);
    display: inline-block;
    padding: 9px 31px;
    background: var(--main-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 48px;   
}

.btn2 {
    color: var(--text-color--);
    display: inline-block;
    padding: 9px 31px;
    background:var(--second-bg-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 24px;
}



/* klo ini css about section */

.home2 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
    background-color: var(--second-bg-color); 
}

.about-img img{
    width: 25vw;
    border: .5rem solid var(--main-color);
    border-radius: 50%;
    margin-left: 20px;
}

.about-content h1 {
    color: var(--text-color);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-content p {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* yang ini section portfolio */


.home3 {
    background: var(--bg-color);
    min-height: auto;
 }
 
 .home3 h2 {
     margin-bottom: 4rem;
     font-size: 54px;
     margin-bottom: 111px;
     text-align: center;
 }
 
 .project-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     gap: 2.5rem;
     margin-bottom: 3rem;
 }
 
 .project-container .project-box {
     position: relative;
     border-radius: 2rem;
     box-shadow: 0 0 1rem var(--bg-color);
     overflow: hidden;
     display: flex;
 }
 
 
 .project-box img {
     width: 100%;
     transition: .5s ease;
 }
 
 .project-box img:hover {
     transform: scale(1.1);
 }
 
 .project-box .project-layer {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(rgba(0,0,0,0.1), var(--second-bg-color));
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 0 4rem;
     transform: translateY(100%);
     transition: .5s ease;
 }
 
 .project-box:hover .project-layer {
     transform: translateY(0);
 }
 
 .project-layer h4 {
     font-size: 3rem;
 }
 
 .project-layer p {
     font-size: 1.6rem;
     margin: .3 0 1rem;
 }
 
 
 .project-layer i {
     font-size: 2rem;
     color: var(--second-bg-color);
 }

 /* ini css contact */

 .home4 {
    background: var(--second-bg-color);
    min-height: auto;
 }

 .home4 h1 {
    color: var(--text-color);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-top: 7rem;
 }

 .home4 form {
    max-width: 70rem;
    text-align: center;
    margin-left: 744px;
    margin-bottom: 8rem;
 }

 .home4 form .input-box {
    display: flex;
    justify-content: space-between;
    
 }

 .home4 form .input-box input,
 .home4 form  textarea {
     width: 100%;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: var(--text-color);
     background-color: var(--bg-color);
     border-radius:  .8rem;
     margin:  .7rem 0;
     resize: none;
 }

 .home4 form .input-box input {
    width: 48%;
}

.home4 form .btn {
    margin-top: 2rem;
    cursor: pointer;
    color: var(--text-color--);
    display: inline-block;
    padding: 9px 31px;
    background: var(--main-color);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}

/* ini css footer */

.footer {
    text-align: center;
}

.social-media a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 80px 24px 44px 0;
    transition: .5s ease;
}   

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-text {
    font-size: 15px;
    text-align: right;
    margin: 0 96px 48px 1055px;
}




 

 

